{% extends 'base.html' %}

{% block title %}
    {{object.text|truncatechars:10}}
{% endblock %}

{% block content %}
    <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-default bg-white border">
                <br>
                <p class="text-center"><img class="rounded mx-auto d-block" src="{{object.photo.url}}" style="width:100%;"></p>
                <span class="badge badge-pill badge-dark">{{object.author.username}}</span>
                <span>{{object.text|linebreaksbr}}</span>
                <p class="text-right">
                    <a href="{% url 'photo:photo_update' pk=object.id %}" class="badge badge-danger">Update</a>
                    <a href="{% url 'photo:photo_delete' pk=object.id %}" class="badge badge-success">Delete</a>
                </p>
            </div>
            <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}

